.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

.text {
  font-size: 14px;
}

.underline {
  font-size: 14px;
  text-decoration: underline;

}

.image {
  margin-top: 6px;
}